body
{
}


.blog_section{


    background-color:#f2f2f2;
    width:100%;
    min-height:300px;
    margin-top:75px;
}

.blog_container{

    width:960px;
    margin:0 auto;
    padding:15px 10px;
}

.blog_section h4{


    

}
